<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Food App</title>
</head>
<body>
    
    <h1>Welcome to Food app!</h1>
    <img class="food-pic" src="/Image/img.png" alt="Food icon"/>
    <p>An app for collecting your favorite foods.</p>
    <a class="foods-index-link" href="/foods">
        <div class="index-link-text"> 
            Browse Foods
            </div>
        </a>
</body>
<footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>

</html>